# Telegram API Credentials
APP_ID=
API_HASH=
TG_BOT_TOKEN=

# Database Configuration
DATABASE_URL=
DATABASE_NAME=Cluster0

# Bot Settings
OWNER_ID=
OWNER=ALONEKINGSTAR77
PORT=8001
WEB_DOMAIN=https://filestore-1-6na6.onrender.com

# Force Subscribe Settings (Space separated IDs)
FORCE_SUB_CHANNELS=-100xxxxxxxxxx

# Shortner Settings
SHORTLINK_URL=arolinks.com
SHORTLINK_API=
TUT_VID=https://t.me/anixzone
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# UI Settings
START_PIC=https://freeimage.host/i/fr18tY7
FORCE_PIC=https://freeimage.host/i/fr18Dv9
SHORTENER_PIC=https://freeimage.host/i/fr18bpe

# Other Settings
FSUB_LINK_EXPIRY=10
TG_BOT_WORKERS=200
PROTECT_CONTENT=False
CUSTOM_CAPTION=<b>• ʙʏ @ALONEKINGSTAR77</b>
UPI_ID=aloneking@upi
