# Bot Credentials
TG_BOT_TOKEN=8540782287:AAGDrv6eW4BjtMDYTpgxotS5m0p6ZBkSNdM
APP_ID=31355944
API_HASH=167e960d46363e3098f9c1fc78496adb

# Database
DATABASE_URL=mongodb+srv://...
DATABASE_NAME=Cluster0

# Channel Configuration
CHANNEL_ID=-1003549022692
OWNER=ALONEKINGSTAR77
OWNER_ID=8557029592

# Web Server
PORT=8001
WEB_DOMAIN=https://your-app-name.onrender.com

# Shortener Configuration
SHORTLINK_URL=arolinks.com
SHORTLINK_API=e49643875c2fa34dd6087254e58283d65ffc7748

# Other Settings
FSUB_LINK_EXPIRY=10
TG_BOT_WORKERS=200
START_PIC=https://freeimage.host/i/fr18tY7
FORCE_PIC=https://freeimage.host/i/fr18Dv9
SHORTENER_PIC=https://freeimage.host/i/fr18bpe
TUT_VID=https://t.me/anixzone
